body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
}

button {
    background-color: #04AA6D;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 15px 32px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    left: 550px;
    top: 250px;

  }

h1{
    text-align: center;
    position: relative;
    top: 200px;
}